
.stack-gallery {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1052 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0,0,0,.8) !important;
    overflow: hidden !important;
    display: none !important;
}

.stack-gallery.stack-show {
    display: block !important;
}

.stack-gallery * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
        -webkit-user-drag: none;
         -khtml-user-drag: none;
           -moz-user-drag: none;
                user-drag: none;
}

.stack-gallery.show {
    display: block !important;
}

.stack-gallery-photos {
    width: 100% !important;
    height: 100% !important;
}

.stack-gallery-current {
    border-radius: 3px !important;
    min-width: 120px !important;
    min-height: 100px !important;
    position: absolute !important;
    background-color: #fff !important;
    box-shadow: 0 0 15px rgba(0,0,0,.9) !important;
    transition: transform .3s;
}
.stack-gallery-loader {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

.stack-gallery-current > img {
    display: block !important;
    width: 120px !important;
    height: 100px !important;
    border: 0 !important;
    outline: 0 !important;
    background-color: #fff !important;
}
.stack-gallery-current.stack-in-load > img.stack-in-load {
    opacity: .001 !important;
}

.stack-gallery-current.stack-magnification {
    cursor: zoom-in !important;
}
.stack-gallery-current.stack-magnified {
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;
}

.stack-gallery-footer {
    position: fixed !important;
    z-index: 1053 !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 80px !important;
    width: 100% !important;
    display: none !important;
}
.stack-gallery-close {
    position: fixed !important;
    z-index: 1054 !important;
    top: 18px !important;
    right: 18px !important;
    padding: 8px !important;
    color: #fff !important;
    opacity: .1 !important;
    transition: opacity .2s, background-color .2s;
}
.stack-gallery-close.stack-show {
    opacity: .99 !important;
}
.stack-gallery-close.stack-show:hover, .stack-gallery-close.stack-show:focus {
    background-color: rgba(0,0,0,.4) !important;
}

.stack-gallery-close,
.stack-gallery-left .stack-gallery-icon,
.stack-gallery-right .stack-gallery-icon {
    display: block !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    background-color: rgba(0,0,0,.4) !important;
}

.stack-gallery-close::before {
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    background: url(../images/close.svg) center center !important;
    background-size: cover !important;
    content: "Close photo" !important;
}

.stack-gallery-close::before,
.stack-gallery-left .stack-gallery-icon::before,
.stack-gallery-right .stack-gallery-icon::before {
    overflow: hidden !important;
    text-indent: -1000px !important;
}
.stack-gallery-left, .stack-gallery-right {
    position: fixed !important;
    z-index: 1053 !important;
    top: 0 !important;
    width: 80px !important;
    height: 100% !important;
}

.stack-gallery-left > .stack-gallery-icon,
.stack-gallery-right > .stack-gallery-icon {
    position: relative !important;
    margin-right: 18px !important;
    padding: 14px 0 !important;
    top: 50% !important;
    margin-top: -21px !important;
    opacity: .1 !important;
    transition: opacity .2s !important;
}

.stack-gallery-right {
    right: 0 !important;
}

.stack-gallery-left {
    right: auto !important;
    left: 0 !important;
}

.stack-gallery-left:hover > .stack-gallery-icon,
.stack-gallery-right:hover > .stack-gallery-icon {
    opacity: 1 !important;
}

.stack-gallery-left > .stack-gallery-icon::before,
.stack-gallery-right > .stack-gallery-icon::before {
    background: url(../images/arrow.svg#white-shadow) center no-repeat !important;
    background-size: contain !important;
    position: relative !important;
    display: block !important;
    height: 42px !important;
    top: calc(50% - 21px) !important;
    content: "Next photo" !important;
}

.stack-gallery-left > .stack-gallery-icon {
    margin-left: 18px !important;
    margin-right: 0 !important;
}

.stack-gallery-left > .stack-gallery-icon::before {
    content: "Prev photo" !important;
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}

.stack-gallery-no-arrows .stack-gallery-left,
.stack-gallery-no-arrows .stack-gallery-right,
.stack-gallery-no-left-arrow .stack-gallery-left,
.stack-gallery-no-left-arrow .stack-gallery-right {
    display: none !important;
}

.stack-limit-width {
    width: 100% !important;
}

.stack-limit-height {
    height: 100% !important;
}

.stack-gallery-current .stack-text-error {
    display: none !important;
}

.stack-gallery-current.stack-error .stack-text-error {
    display: block !important;
}
